/* https://help.campaignmonitor.com/email-builder-font-compatibility */


*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
*{
	font-family: 'Merriweather', DejaVu Sans Serif, Georgia, serif;
	font-size: 100%;
	line-height: 1.5;
	font-weight: 200;
}


html, body{
	height: 100%;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
	background-color: hsl(120, 5%, 85%);
} 

body::before{
	content: "";
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: 0;
	height: 20vh;
	background-color: #DC2925;
}

h1, h2, h3, h4, h5, h6{
	/* font-family: 'Lora', Palatino, Book Antiqua, Georgia, serif; */
}

ul.reset,
ul.reset li,
ul.reset ul li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: none;
}