*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}


html, body{
	height: 100%;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
	background-color: hsl(120, 5%, 85%);
} 

body::before{
	content: "";
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: 0;
	height: 20vh;
	background-color: #DC2925;
}


ul.reset,
ul.reset li,
ul.reset ul li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: none;
}