/* https://help.campaignmonitor.com/email-builder-font-compatibility */


*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
*{
	font-family: 'Merriweather', DejaVu Sans Serif, Georgia, serif;
	font-size: 100%;
	line-height: 1.5;
	font-weight: 200;
	color: #333;
}


html, body{
	/* height: 100%; */
	overflow-y: hidden;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
	background-color: hsl(120, 5%, 85%);
} 

body::before{
	content: "";
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: 0;
	height: 20vh;
	background-color: #DC2925;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Lora', Palatino, Book Antiqua, Georgia, serif;
}


ul.reset,
ul.reset li,
ul.reset ul li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: none;
}


a:link { /* unvisited link */ color: #000; text-decoration: none; border: none; }
a:visited { /* visited link */ color: #000; }
a:hover { /* mouse over link */ color: #000; border: none; }
a:active { /* active link */ color: #000; }



.context-menu{
	position: absolute;
	border: 1px solid #aaa;
	min-width: 200px;
	background-color: white;
	height: auto;
	z-index: 10000;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 2px 2px 5px 0 rgba(0,0,0,.2);
}
.context-menu li{
	border-bottom: 1px solid #ddd;
	padding: .5rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.context-menu li *{
	line-height: 1;
	font-size: .9rem;
}
.context-menu li:hover{
	background-color: rgba(0,0,0,0.02);
}
@media screen and (min-width: 640px){
	.context-menu li{
		line-height: 1.5;
	}
}

button{
	border-radius: 10px;
	padding: .5rem 1rem;
	background-color: #1446c6;
	border: 1px solid #1446c6;
	color: white;
	min-height: 40px;
}
.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.text-muted{ 
	color: #999;
	font-size: .8rem;
}